# Arithmatic on Dataframe, Series Data Addition

In [7]:
import pandas as pd
import numpy as np
s1 = pd.Series([1.2,-6.7,2.4,1.59], index=['d','c','a','e'])
s2 = pd.Series([-1.2,3.2,-2.3,4.9,3.2], index=['a','e','c','f','g'])
s1

d    1.20
c   -6.70
a    2.40
e    1.59
dtype: float64

In [6]:
s2

a   -1.2
e    3.2
c   -2.3
f    4.9
g    3.2
dtype: float64

In [8]:
s1+s2

a    1.20
c   -9.00
d     NaN
e    4.79
f     NaN
g     NaN
dtype: float64

In [13]:
s1.add(s2, fill_value=0)

a    1.20
c   -9.00
d    1.20
e    4.79
f    4.90
g    3.20
dtype: float64

# DataFrame Addition

In [10]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)), columns=list('abc'))
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)), columns=list('acd'))

In [11]:
df1

     a    b    c
0  0.0  1.0  2.0
1  3.0  4.0  5.0
2  6.0  7.0  8.0

In [12]:
df2

     a     c     d
0  0.0   1.0   2.0
1  3.0   4.0   5.0
2  6.0   7.0   8.0
3  9.0  10.0  11.0

In [14]:
df1+df2

      a   b     c   d
0   0.0 NaN   3.0 NaN
1   6.0 NaN   9.0 NaN
2  12.0 NaN  15.0 NaN
3   NaN NaN   NaN NaN

In [15]:
df1.add(df2, fill_value=0)

      a    b     c     d
0   0.0  1.0   3.0   2.0
1   6.0  4.0   9.0   5.0
2  12.0  7.0  15.0   8.0
3   9.0  NaN  10.0  11.0

# Arithmatic on DataFrame + Series

In [19]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'))
series = pd.Series([0,1,2], index=['b','d','e'])
frame

     b     d     e
0  0.0   1.0   2.0
1  3.0   4.0   5.0
2  6.0   7.0   8.0
3  9.0  10.0  11.0

In [20]:
series

b    0
d    1
e    2
dtype: int64

In [21]:
frame+series

     b     d     e
0  0.0   2.0   4.0
1  3.0   5.0   7.0
2  6.0   8.0  10.0
3  9.0  11.0  13.0

In [22]:
frame.add(series)

     b     d     e
0  0.0   2.0   4.0
1  3.0   5.0   7.0
2  6.0   8.0  10.0
3  9.0  11.0  13.0