# Sorting on series and DataFrame Object

In [18]:
import pandas as pd
import numpy as np
s = pd.Series(range(5),index=['d','c','a','e','b'])
s

d    0
c    1
a    2
e    3
b    4
dtype: int64

In [6]:
s.sort_index()

a    2
b    4
c    1
d    0
e    3
dtype: int64

# Sorting on DataFrame Ojbect on Index

In [21]:
df = pd.DataFrame(np.arange(8).reshape((2,4)), index=['7','3'],
                  columns=['d','a','b','c'])
df

   d  a  b  c
7  0  1  2  3
3  4  5  6  7

In [1]:
df.sort_index()

NameError: name 'df' is not defined

In [23]:
df.sort_index(axis=1)

   a  b  c  d
7  1  2  3  0
3  5  6  7  4

# Sorting on Values

In [25]:
s = pd.Series([3, np.NAN ,-7,5, np.NAN, -1])
s

0    3.0
1    NaN
2   -7.0
3    5.0
4    NaN
5   -1.0
dtype: float64

In [26]:
s.sort_values()

2   -7.0
5   -1.0
0    3.0
3    5.0
1    NaN
4    NaN
dtype: float64