In [3]:
import pandas as pd

In [5]:
a = [0,1,2,3,4]
df = pd.DataFrame(a)
df

   0
0  0
1  1
2  2
3  3
4  4

In [6]:
df.columns = ['col1']
df

   col1
0     0
1     1
2     2
3     3
4     4

In [7]:
df['newCol'] = 3
df

   col1  newCol
0     0       3
1     1       3
2     2       3
3     3       3
4     4       3

In [9]:
df['newCol'] = df['newCol'] +5
df

   col1  newCol
0     0       8
1     1       8
2     2       8
3     3       8
4     4       8

In [10]:
i = ['a','b','c','d','e']
df.index = i
df

   col1  newCol
a     0       8
b     1       8
c     2       8
d     3       8
e     4       8

In [12]:
df['newCol1'] = df['col1']
df

   col1  newCol  newCol1
a     0       8        0
b     1       8        1
c     2       8        2
d     3       8        3
e     4       8        4

In [13]:
del df['newCol']
df

   col1  newCol1
a     0        0
b     1        1
c     2        2
d     3        3
e     4        4