In [6]:
import pandas as pd
data = {'Id_Student' : [1,2,3,4,5,6,7,8,9,10], 'Mathscore' :['Strong','Weak','Weak','Strong','Strong','Weak','Strong','Strong','Weak','Strong']}

In [7]:
df = pd.DataFrame(data)
df

   Id_Student Mathscore
0           1    Strong
1           2      Weak
2           3      Weak
3           4    Strong
4           5    Strong
5           6      Weak
6           7    Strong
7           8    Strong
8           9      Weak
9          10    Strong

# Strong = 1 and Weak = 0

In [16]:
def tran_mathscore(x):
    if x == 'Strong':
        return 1
    else:
        return 0

In [17]:
df['Trans_MathScore'] = df['Mathscore'].apply(tran_mathscore)

In [19]:
df

   Id_Student Mathscore  Trans_MathScore
0           1    Strong                1
1           2      Weak                0
2           3      Weak                0
3           4    Strong                1
4           5    Strong                1
5           6      Weak                0
6           7    Strong                1
7           8    Strong                1
8           9      Weak                0
9          10    Strong                1