In [1]:
import pandas as pd
df = pd.read_csv('FRED-NGDPPOT.csv')

In [2]:
df.head()

         Date    Value
0  2027-10-01  28825.2
1  2027-07-01  28550.7
2  2027-04-01  28277.4
3  2027-01-01  28005.9
4  2026-10-01  27725.0

In [4]:
df.set_index('Date',inplace=True)
df.head()

              Value
Date
2027-10-01  28825.2
2027-07-01  28550.7
2027-04-01  28277.4
2027-01-01  28005.9
2026-10-01  27725.0

In [5]:
df.columns = ['GDP']

In [7]:
df.head()

                GDP
Date
2027-10-01  28825.2
2027-07-01  28550.7
2027-04-01  28277.4
2027-01-01  28005.9
2026-10-01  27725.0

In [9]:
df.to_json('new.json')

In [10]:
df.to_html('new.html')