In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[5.,2.9,8.],[1.5,np.NAN,np.NAN],[np.NAN,np.NAN,np.NAN],[np.NAN,6.2,23.]])
df

     0    1     2
0  5.0  2.9   8.0
1  1.5  NaN   NaN
2  NaN  NaN   NaN
3  NaN  6.2  23.0

# Replace Contant Value

In [4]:
df.fillna(0)

     0    1     2
0  5.0  2.9   8.0
1  1.5  0.0   0.0
2  0.0  0.0   0.0
3  0.0  6.2  23.0

# Replace Constant Value along Column

In [5]:
df.fillna({0:-5, 1:0, 2:5})

     0    1     2
0  5.0  2.9   8.0
1  1.5  0.0   5.0
2 -5.0  0.0   5.0
3 -5.0  6.2  23.0

# Apply mean on missing data

In [8]:
df.fillna(df.mean())

      0     1     2
0  5.00  2.90   8.0
1  1.50  4.55  15.5
2  3.25  4.55  15.5
3  3.25  6.20  23.0

# Interpolate value

In [9]:
df.fillna(method='ffill')

     0    1     2
0  5.0  2.9   8.0
1  1.5  2.9   8.0
2  1.5  2.9   8.0
3  1.5  6.2  23.0